
.auth-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.auth-modal {
  display: flex;
  width: 700px;
  height: 50vh;
  max-width: 95%;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.auth-modal-left,
.auth-modal-right {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.6s ease-in-out;
}

.auth-modal-left {
  background: linear-gradient(135deg, #cba7e2, #a0c4ff);
  color: white;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.auth-modal-right {
  background: #f6f5f7;
  position: relative;
}

.auth-modal.sign-up-mode .auth-modal-left {
  transform: translateX(100%);
  border-radius: 3rem 0 0 3rem;
}

.auth-modal.sign-up-mode .auth-modal-right {
  transform: translateX(-100%);
}

.toggle-btn {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.submit-btn {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: linear-gradient(135deg, #cba7e2, #a0c4ff);
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

input {
  padding: 12px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  color: #aaa;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

.close-btn:hover {
  color: #333;
}


.auth-modal.sign-up-mode .close-btn {
  right: auto;
  left: 10px;
}

@media (max-width: 768px) {
  .auth-modal {
    flex-direction: column;
    height: auto;
    width: 95%;
    max-height: 95vh;
  }

  .auth-modal-left,
  .auth-modal-right {
    width: 100%;
    padding: 2rem;
    transform: none !important;
    border-radius: 0 !important;
  }

  .auth-modal-left {
    border-radius: 1rem 1rem 0 0 !important;
    text-align: center;
  }

  .auth-modal-right {
    border-radius: 0 0 1rem 1rem !important;
  }

  .close-btn {
    top: -190px;
    right: 15px;
    font-size: 22px;
  }

  .toggle-btn,
  .submit-btn {
    font-size: 1rem;
    padding: 10px;
  }

  input {
    font-size: 1rem;
    padding: 10px;
  }

  .auth-modal.sign-up-mode .close-btn {
    top: -190px;
    right: -312px;
  }
}