.sidebarnav {
    display: flex;
    flex-direction: column;
    width: 160px;
    padding: 1rem 0.5rem;
    height: 70vh;
    gap: 1rem;
    background: linear-gradient(to right, #fddb7cc7, #d3bae7);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin: 1rem;
    margin-top: 1rem;
    border: 1px solid #ffffff5e;
}


@media (max-width:769px) {
    .sidebarnav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1rem 0.5rem;
        width: 755px;
        height: 8vh;
        background: linear-gradient(to right, #fddb7cc7, #d3bae7);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        margin: 0.35rem;
        margin-top: 1rem;
        border: none;
    }
}

@media (max-width:500px) {
    .sidebarnav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1rem 0.5rem;
        width: 420px;
        height: 12vh;
        background: linear-gradient(to right, #fddb7cc7, #d3bae7);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        margin: 0.35rem;
        margin-top: 1rem;
        border: none;
    }
}