
.template-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 0.5rem;
    background: transparent;
    background-color: #d3bae7;
    border: 1px solid #ffffff5e;
}

.template-title {
    margin-bottom: 16px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.template-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

.template-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    background-color: white;
    transition: transform 0.2s;
}

.template-card:hover {
    transform: scale(1.05);
}

.template-card.active {
    border-color: #007bff;
    background-color: #fff;
}

.template-preview {
    height: 200px;
    /* Adjust as needed */
    overflow: hidden;
}

.template-inner {
    transform: scale(0.22);
    transform-origin: top left;

    pointer-events: none;
}

.template-name {
    text-align: center;
    margin-top: 8px;
}