 .templateGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
     grid-template-columns: 200px; 
     gap: 1rem;
    padding: 1rem;
} 

/* .templateGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); /* smaller */
  gap: 0.75rem; /* smaller gap */
  padding: 1rem;
} */

.templateCard {
    transition: transform 0.2s;
    width: 100%;

}

.templateCard:hover {
    transform: scale(1.03);
}


/* .templateCard{
  width: 300px;
} */