:root {
    --basic-font-size: 1rem;
    --left-align: left;
    --basic-pixel-margin: 5px;
    --basic-black-border: 1px solid black;
    --rel-position: relative;
    --none: none;
}

#resume-view {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 210mm;
    height: 297mm;
    /* margin: auto; */
    padding: 10mm;
    box-sizing: border-box;
    display: grid;
    gap: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
}

.personalInfo {
    border-bottom: var(--basic-black-border);
    text-align: var(--left-align);
    position: var(--rel-position);
}

.personalInfo>div:nth-child(1) {
    display: flex;
}

.personalInfo>div:nth-child(1)>div {
    outline: var(--none);
    padding-right: 2px;
    font-size: 24px;
    font-weight: 700;
}

.personalInfo>div:nth-child(2) {
    outline: var(--none);
    font-size: 18px;
}

.personalInfo>div:nth-child(3)>p {
    outline: var(--none);
    display: inline-block;
}

.personalInfo>ul {
    padding-left: 1.2rem;
    display: inline-block;
}

.personalInfo>ul>li {
    outline: var(--none);
}

.contact {
    text-align: var(--left-align);
    margin-bottom: var(--basic-font-size);
}

.contactList {
    list-style: var(--none);
}

.contactItem {
    padding-left: var(--basic-pixel-margin);
    padding-bottom: var(--basic-pixel-margin);
}

.icon-picker-popup {
    border: var(--basic-black-border);
}

.icon-option {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editable-text {
    display: inline;
    padding-left: var(--basic-pixel-margin);
    outline: var(--none);
}

.skills {
    text-align: var(--left-align);
    margin-bottom: var(--basic-font-size);
}

.skills>h2 {
    padding-bottom: var(--basic-pixel-margin);
}

.skills>ul {
    display: inline-block;
}

.skills>ul>li {
    outline: var(--none);
}

.individualSkill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.individualSkill>span {
    border: var(--basic-black-border);
    outline: var(--none);
    padding: var(--basic-pixel-margin);
    margin-bottom: 12px;
}

.strengths {
    text-align: var(--left-align);
    margin-bottom: var(--basic-font-size);
}

.eachStrength {
    margin-bottom: var(--basic-pixel-margin);
}

.eachStrength>h3 {
    outline: var(--none);
}

.eachStrength>ul {
    padding-left: 1.2rem;
}

.eachStrength>ul>li {
    outline: var(--none);
}

.eachStrength>div>p {
    outline: var(--none);
}

.workExperience {
    margin-bottom: var(--basic-font-size);
    text-align: var(--left-align);
}

.workExperience>h2 {
    outline: var(--none);
}

.workPlace {
    margin-bottom: var(--basic-pixel-margin);
    margin-left: var(--basic-pixel-margin);
}

.workPlace>h3 {
    outline: var(--none);
}

.workPlace>h4 {
    outline: var(--none);
}

.workPlace>h6 {
    font-size: 14px;
    outline: var(--none);
}

.workPlace>div>p {
    margin-left: var(--basic-pixel-margin);
    outline: var(--none);
}

.workPlace>ul {
    padding-left: var(--basic-font-size);
}

.workPlace>ul>li {
    outline: var(--none);
}

.projects {
    margin-bottom: var(--basic-font-size);
    text-align: var(--left-align);
}

.projects>h2 {
    outline: var(--none);
}

.eachProject {
    padding-left: var(--basic-pixel-margin);
}

.eachProject>h3 {
    outline: var(--none);
}

.eachProject>div>p {
    outline: var(--none);
}

.eachProject>ul {
    padding-left: var(--basic-font-size);
}

.eachProject>ul>li {
    outline: var(--none);
}

.education {
    text-align: var(--left-align);
    margin-bottom: var(--basic-font-size);
}

.education>h2 {
    outline: var(--none);
}

.educationItem>h3 {
    outline: var(--none);
}

.educationItem>h4 {
    outline: var(--none);
}

.educationItem>h6 {
    font-size: 14px;
    outline: var(--none);
}

.educationItem>div>p {
    padding-left: var(--basic-pixel-margin);
    outline: var(--none);
}

.educationItem>ul {
    padding-left: var(--basic-font-size);
}

.educationItem>ul>li {
    outline: var(--none);
}

.summary {
    text-align: var(--left-align);
    margin-bottom: var(--basic-font-size);
}

.summary>ul {
    padding-left: var(--basic-font-size);
}

.summary>ul>li {
    outline: var(--none);
}

.summary>div>p {
    outline: var(--none);
    padding-left: var(--basic-pixel-margin);
}

.organizations {
    margin-bottom: var(--basic-font-size);
    text-align: var(--left-align);
}

.eachOrganization>h3 {
    outline: var(--none);
}

.eachOrganization>ul {
    padding-left: var(--basic-font-size);
}

.eachOrganization>ul>li {
    outline: var(--none);
}

.eachOrganization>div>p {
    outline: var(--none);
    padding-left: var(--basic-pixel-margin);
}

.awards {
    margin-bottom: var(--basic-font-size);
    text-align: var(--left-align);
}

.eachAward>h3{
    outline: var(--none);
}

.eachAward>ul{
    padding-left: var(--basic-font-size);
}

.eachAward>ul>li{
    outline: var(--none);
}

.eachAward>div>p{
    outline: var(--none);
    padding-left: var(--basic-pixel-margin);
}

.certificates{
    text-align: var(--left-align);
    margin-bottom: var(--basic-font-size);
}

.eachCertificate>h3{
    outline: var(--none);
}

.eachCertificate>h4{
    outline: var(--none);
}

.eachCertificate>h5{
    outline: var(--none);
    font-size: 15px;
}

.eachCertificate>ul{
    padding-left: var(--basic-font-size);
}

.eachCertificate>ul>li{
    outline: var(--none);
}

.eachCertificate>div>p{
    padding-left: var(--basic-pixel-margin);
    outline: var(--none);
}

.languages{
    text-align: var(--left-align);
    margin-bottom: var(--basic-font-size);
}

.languages>h2{
    margin-bottom: var(--basic-pixel-margin);
}

.languages>ul{
    padding-left: var(--basic-font-size);
}

.languages>ul>li{
    outline: var(--none);
}

.languages>div {
    display: flex;
    flex-wrap: wrap;
}

.languages>div>span {
    border: var(--basic-black-border);
    outline: var(--none);
    padding: var(--basic-pixel-margin);
    margin-bottom: 12px;
    margin-right: 20px;
}

.achievements{
    text-align: var(--left-align);
    margin-bottom: var(--basic-font-size);
}

.eachAchievement>h3{
    outline: var(--none);
}

.eachAchievement>ul{
    padding-left: var(--basic-font-size);
}

.eachAchievement>ul>li{
    outline: var(--none);
}

.eachAchievement>div>p{
    outline: var(--none);
    padding-left: var(--basic-pixel-margin);
}

.profile-card {
    width: 300px;
    text-align: center;
    background: linear-gradient(135deg, #5b7bb0 50%, white 50%);
    padding: 2rem 1rem 1.5rem;
    font-family: sans-serif;
    color: #5b7bb0;
    position: relative;
}

.profile-image {
    width: 120px;
    height: 120px;
    border: 6px solid white;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    background: white;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    color: black;
}

.position {
    font-size: 1rem;
    color: #a0a0a0;
    margin-top: 0.5rem;
}

.timeline {
    position: relative;
    padding-left: 30px;
    border-left: 3px solid black;
    margin-left: 10px;
    margin-top: 10px;
}

.timeline-item {
    position: relative;
    margin-bottom: 30px;
}

.timeline-item .dot {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: -37px;
}
